rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Public files are readable by anyone.
    match /uploads/public/{allPaths=**} {
      allow read;
    }

    // Users can only write to their own subdirectory within the public folder.
    match /uploads/public/{userId}/{fileName} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Private files are only accessible by the owner and the super admin.
    match /uploads/private/{userId}/{fileName} {
      allow read: if request.auth != null && (request.auth.uid == userId || request.auth.uid == 'Y9ckdC5d2RPQ533s5CfaiiXlKYi1');
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
