rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    function isOwner(uid) {
      return request.auth != null && request.auth.uid == uid;
    }

    // Match any file in the 'public' folder. Publicly readable.
    match /uploads/public/{path=**} {
      allow read: if true;
      
      // Allow creation if the uploader is the owner specified in the metadata.
      allow create: if isOwner(request.resource.metadata.ownerId);

      // Allow updates and deletes only if the user is the owner of the existing file.
      allow update, delete: if isOwner(resource.metadata.ownerId);
    }

    // Match any file in the 'private' folder. Only accessible by the owner.
    match /uploads/private/{path=**} {
      allow read, update, delete: if isOwner(resource.metadata.ownerId);
      allow create: if isOwner(request.resource.metadata.ownerId);
    }
  }
}
